body
{
	background-color: hsla(0,0%,94%,1);
	color: hsla(0,0%,25%,1);
}

body>header>h1
{
	color: hsla(0,0%,100%,1);
	text-shadow: 
		0 0.05em 0.2em hsla(0,0%,0%,0.1)
	,
		0 0.02em 0.05em hsla(0,0%,0%,0.4)
	,
		0 0 0.02em hsla(0,0%,0%,0.2)
	,
		0 0.02em 1em hsla(0,0%,100%,0.4)
	;
}

svg
{
	background-color: hsla(0,0%,100%,1);
	box-shadow:
		0 0 0.5em 0 hsla(0,0%,100%,0.6)
	,
		0 0.2em 1em 0 hsla(0,0%,0%,0.1)
	,
		0 0.2em 2em 0 hsla(0,0%,100%,0.4)
	;
}
